* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Mulish", sans-serif;

}
.Travel{
    color: #ff5400;
}
.btn-primary {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background: #ff5400;
    border: none;
}
.container {
    max-width: 1440px;
    padding: 0 135px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 45px;
    height: 50px;
}
.logo h1 {
    color: #131318;
    font-size: 2.15rem;
    font-weight: 800;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
}
nav ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
#icon{
    display: none;
}

/* banner section */
.banner-section {
     max-width: 1195px;
   
    height: 500px;
    margin: 0 auto;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border: 2px solid white;
    text-align: center;
}
.banner-main {
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-description h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
}
.banner-description p {
    color: #fff;
    text-align: center;
    
    font-size: 16px;
   
    font-weight: 400;
    
    padding-top: 24px;
    padding-bottom: 40px;
}
.same-bar {
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.5);
}
.search-bar button {
    background: #ff5400;
    color: #fff;
}
.search-section {
    /* background: #000; */
    margin: 0 200px;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
}
/* header section end */
.popular-tours {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.Tour-description h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.Tour-description p,
li {
    padding: 18px 0;
}
/* why choose us */
.why-choose-us-title {
    margin-top: 120px;
    text-align: center;
}
.why-choose-us-title h1 {
    color: #131318;
    font-size: 3.5rem;
    font-weight: 800;
}
.why-choose-us-title p {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    padding: 40px 0;
}
.why-choose-us {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.handpicked {
    width: 550px;
    height: 250px;
    border-radius: 16px;
    padding: 18px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
}
.handpicked h3 {
    color: #131318;
    font-size: 1.7rem;
    font-weight: 800;
    padding-top: 2rem;
}
.handpicked p {
    color: #5a5a5d;
    padding-top: 1rem;
}
#price {
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.2);
    background: rgba(233, 68, 68, 0.05);
}
#map {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
}
/* newsletter section */
.newsletter {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 120px;
}
.newsletter-form {
    width: 35%;
    border-radius: 16px;
    border: 2px solid #ff5400;
    padding: 45px;
    padding-top: 70px;
}
.newsletter-form h3 {
    padding: 10px 0;
    font-size: 1.6rem;
    font-weight: 800;
}
.newsletter-form p {
    padding: 15px 0px;
    color: #5a5a5d;
    font-size: 1rem;
}
.newsletter-form .contact input {
    display: block;
    margin: 0 auto;
    width: 80%;
    color: #757575;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 18px 35px;
    border: 0px;
    border-radius: 5px;
    text-align: center;
    background: #f5efef;
}
.newsletter-form .contact .subcribe-btn {
    border-radius: 8px;
    background: #ff5400;
    color: #fff;
}
.newsletter-img {
    width: 60%;
    position: relative;
    /* border: 2px solid red; */
}
.newsletter-img img {
    width: 100%;
}
.save-up {
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #ff5400;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    position: absolute;
    bottom: 60px;
    right: 20px;
    text-align: center;
    padding-top: 30px;
}
.save-up p {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}
.save-up h3 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}
/* destination style start */
.destination-info{
    text-align: center;
    padding: 50px 0;
}
.destination-info h1{
    color: #131318;
    text-align: center;
   
    font-size: 2.5rem;
   
    font-weight: 800;
  
    padding-bottom: 20px;
}
.img-part-1 {
    display: flex;
    gap: 30px;
}
.img-row-1 {
    width: 50%;
    height: 300px;
    position: relative;
}
.img-row-1 p {
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    top: 45%;
    left: 40%;
}
.img-row-1 img {
    width: 100%;
    height: 100%;
}



.img-part-2 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.img-part-2 img{
    width: 100%;
    height: 100%;
}
.img-row-sri {
    width: 35%;
    height: 286px;
    position: relative;
}
.img-part-2 p {
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    top: 45%;
    left: 40%;
}
.img-row-north {
    width: 40%;
    height: 286px;
    position: relative;
}
.img-row-kash {
    width: 25%;
    height: 286px;
    position: relative;
}


.img-part-3 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.img-part-3 img{
    width: 100%;
    height: 100%;
}
.img-row-ban {
    width: 40%;
    height: 286px;
    position: relative;
}
.img-row-bandor {
    width: 60%;
    height: 286px;
    position: relative;
}
.img-part-3 p {
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    top: 45%;
    left: 40%;
}
/* destination style end */
.review-title{
    color: #131318;
    text-align: center;
    
    font-size: 2.5rem;
   
    font-weight: 800;
    
    padding: 60px 0;
}
.traveller-main{
    display: flex;
    margin: 30px 0;
}
.traveller{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.traveller-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.traveller-info p{
    padding: 20px 0;
}
/* footer section  */
footer{
    max-width: 100%;
    margin-top: 50px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}
.footer-title .logo {
    justify-content: center;
    padding-top: 110px;
}
.footer-title p{
    padding: 25px 0;
}
.social-icon {
    display: flex;
    font-size: 2rem;
    gap: 24px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
hr{
    width: 50%;
    margin: 0 auto;
}
.copyright{
    padding: 40px 0;

}


/* responsive device  for mobile*/
@media screen and (max-width:600px) {
    
    .popular-tours,
    .newsletter,
    .why-choose-us,
    .img-part-3,
    .img-part-2,
    .img-part-1{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
    }
    .logo h1 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    nav ul {
        display: flex;
        justify-content: center;
        gap:1px;
    }
    nav ul li{
        display: none;
    }
    nav{
        display: flex;
    }
    .banner-main {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .search-section {
        /* background: #000; */
        /* margin: 10px 80px; */
        /* padding: 20px; */ 
        margin: 0 auto; 
    }
    .same-bar {
        padding: 10px;
        width: 174px;
        margin-bottom: 5px;
    }
    .handpicked {
        width: 90%;
        /* height: 250px; */ 
         
    }
    .save-up {
        width: 80%;
        height: 60px;  
    }
    .save-up h3 {
        
        text-align: center;
        font-size: 1.5rem;
        
    }
  
    .img-row-1,.img-row-north,.img-row-ban,.img-row-sri,.img-row-kash,.img-row-bandor ,.newsletter-img{
        width:100%;}
 
    .img-part-1,.img-part-2,.img-part-3 img{
       grid-template-columns: repeat(1fr);
       width: 100%;
    }
    .container {  
        padding: 0 30px;
        margin: 0 auto;
    }
    .banner-section{
        width: 90%;
    }
    .newsletter-form{
        width: 80%;
    }
    .tour-img img{
        max-width: 100%;
    }
    #icon{
        display: contents;
    }
    .traveller-main{
        display: flex;
        margin: 30px 0;
        flex-direction: column;
    }
  
}

/* responsive for tab */
@media screen and (min-width: 600px) and (max-width: 960px) {
    .popular-tours,
    .newsletter,
    .why-choose-us,
    .img-part-3,
    .img-part-2,
    .img-part-1,nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        gap:10px;
    }
    .search-section {
        
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px; 

    }
    .same-bar {
        padding: 10px;
        width: 174px;
        margin-bottom: 5px;
    }
    .banner-main {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img-row-1,.img-row-north,.img-row-ban,.img-row-sri,.img-row-kash,.img-row-bandor ,.newsletter-img{
        width:100%;}
 
    .img-part-1,.img-part-2,.img-part-3 img{
       grid-template-columns: repeat(1fr);
       width: 100%;
    }
    .newsletter-form {
        width: 75%;
    }
    #icon{
        display: none;
    }
    .tour-img img{
        max-width: 100%;
    }
    .handpicked {
        width: 80%;
        height: 250px;
    }
    
    .traveller-main{
        display: flex;
        margin: 30px 0;
        flex-direction: column;
    }

    
   
}